.grid{
    grid-template-columns: 10px 300px 300px 
    grid-template-rows: 900px 600px 600px;
    display: grid;
    grid-gap: 100px;
}

.item1{
	border: black solid 11px;
}

.item2{
	border: black solid 11px;
}
.item3{
	border: black solid 11px;
}
.item4{
	border: black solid 11px;
   grid-column-start: 2;
}
body {
  background-color: pink;
}

